.greeting-card {
  color: black;
  padding: 20px;
  margin-inline: auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out;
}

.greeting-card:hover {
  transform: scale(1.05);
}

.greeting-card h2 {
  margin-bottom: 10px;
  color: #4facfe;
}
