body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

#outerContainer {
  margin: 1.5em;
  border: 2px solid black;
  height: 70vmin;
  width: 70vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

#innerContainer {
  border: 2px solid orange;
  height: 10vmin;
  width: 20vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
