<div class="container my-5 bg-dark p-5 rounded-3">
  <h1 class="bg-info p-5 rounded-3">About Page</h1>

  <div class="row">
    <div class="col-3">
      <ul class="w-100 bg-info">
        <li class="w-100 bg-success text-light list-unstyled">
          <a
            class="text-white text-decoration-none bg-primary w-100 d-block mt-3 p-3 rounded-2"
            routerLinkActive="bg-danger"
            routerLink="web"
            >web</a
          >
        </li>
        <li class="w-100 bg-success text-light list-unstyled">
          <a
            class="text-white text-decoration-none bg-primary w-100 d-block mt-3 p-3 rounded-2"
            routerLinkActive="bg-danger"
            routerLink="mobile"
            >mobile</a
          >
        </li>
      </ul>
    </div>
    <div class="col-9 bg-danger">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
