<!-- <div class="container">
  <h1 #koko class="bg-warning">{{ title() }}</h1>
  <h3 appDir1 [hamada]="'red'" class="bg-danger">Home Comp</h3>
</div>
<button appDir1 [hamada]="'yellow'" class="btn btn-outline-info" (click)="changeTitle()">
  change
</button> -->
<!-- change behavior html ele , modify -->
<!-- <div>
  <button class="btn btn-outline-danger" (click)="up()">up</button>
  <h4>counter : {{ counter() }}</h4>
  <h4>doupleCounter :{{ doupleCounter() }}</h4>
  <button class="btn btn-outline-success" (click)="down()">down</button>
</div> -->

<div class="container my-5 bg-dark p-5 rounded-3">
  <h1 class="bg-info p-5 rounded-3">Home Page</h1>
</div>
