<main class="d-flex justify-content-between">
  <div>
    <h1>Learn a New Skill Everyday, Anytime, and Anywhere.</h1>
    <p class="subtitle">
      1000+ Courses covering all tech domains for you to learn and explore new oppurtunities. Learn
      from Industry Experts and land your Dream Job.
    </p>

    <button class="startTrialButton">Start Trial</button>
    <button appChangeBg class="howItWorksButton">How it Works</button>

    <div class="features">
      <div class="feature-item">
        <p class="feature-title feature-title1">1000+</p>
        <p class="feature-desc">Courses to choose from</p>
      </div>
      <div class="feature-item">
        <p class="feature-title feature-title2">5000+</p>
        <p class="feature-desc">Students Trained</p>
      </div>
      <div class="feature-item">
        <p class="feature-title feature-title3">200+</p>
        <p class="feature-desc">Professional Trainers</p>
      </div>
    </div>
  </div>
  <img src="home.png" alt="" />
</main>
