.main-title {
  color: red;
}
.main-subtitle {
  color: blue;
}
.main-btn {
  background-color: red;
}
.main-btn:hover {
  background-color: blue;
}

.content .font-14px {
  font-size: 14px;
}
.content .font-16px {
  font-size: 16px;
}
.content .font-18px {
  font-size: 18px;
}

.finish-btn {
  width: 100%;
  margin-bottom: 10px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .finish-btn {
    width: 50%;
  }
}
@media (min-width: 1025px) {
  .finish-btn {
    width: 25%;
  }
}

.container {
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.3333333333%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.col-2 {
  width: 16.6666666667%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.col-3 {
  width: 25%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.col-4 {
  width: 33.3333333333%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.col-5 {
  width: 41.6666666667%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.col-6 {
  width: 50%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.col-7 {
  width: 58.3333333333%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.col-8 {
  width: 66.6666666667%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.col-9 {
  width: 75%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.col-10 {
  width: 83.3333333333%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.col-11 {
  width: 91.6666666667%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.col-12 {
  width: 100%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

@media (min-width: 200px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-sm-2 {
    width: 16.6666666667%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-sm-3 {
    width: 25%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-sm-4 {
    width: 33.3333333333%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-sm-5 {
    width: 41.6666666667%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-sm-6 {
    width: 50%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-sm-7 {
    width: 58.3333333333%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-sm-8 {
    width: 66.6666666667%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-sm-9 {
    width: 75%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-sm-10 {
    width: 83.3333333333%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-sm-11 {
    width: 91.6666666667%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-sm-12 {
    width: 100%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-md-2 {
    width: 16.6666666667%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-md-3 {
    width: 25%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-md-4 {
    width: 33.3333333333%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-md-5 {
    width: 41.6666666667%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-md-6 {
    width: 50%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-md-7 {
    width: 58.3333333333%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-md-8 {
    width: 66.6666666667%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-md-9 {
    width: 75%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-md-10 {
    width: 83.3333333333%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-md-11 {
    width: 91.6666666667%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-md-12 {
    width: 100%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-lg-2 {
    width: 16.6666666667%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-lg-3 {
    width: 25%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-lg-4 {
    width: 33.3333333333%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-lg-5 {
    width: 41.6666666667%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-lg-6 {
    width: 50%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-lg-7 {
    width: 58.3333333333%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-lg-8 {
    width: 66.6666666667%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-lg-9 {
    width: 75%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-lg-10 {
    width: 83.3333333333%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-lg-11 {
    width: 91.6666666667%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-lg-12 {
    width: 100%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-xl-2 {
    width: 16.6666666667%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-xl-3 {
    width: 25%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-xl-4 {
    width: 33.3333333333%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-xl-5 {
    width: 41.6666666667%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-xl-6 {
    width: 50%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-xl-7 {
    width: 58.3333333333%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-xl-8 {
    width: 66.6666666667%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-xl-9 {
    width: 75%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-xl-10 {
    width: 83.3333333333%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-xl-11 {
    width: 91.6666666667%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .col-xl-12 {
    width: 100%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
}

/*# sourceMappingURL=task_out.css.map */
