body {
  text-align: center;
  margin: 0;
  padding: 0;
}

#imageSliderContainer {
  align-items: end;
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
  margin-top: 100px;
}
#imageSlider {
  height: 300px;
}
#imageTitle {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  padding: 0 20px;
  margin: 0;
  width: 400px;
}
