.favoriteProductItem {
  display: flex;
  justify-content: space-between;
  width: 30%;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 10px;
  min-width: 150px;
  margin-bottom: 10px;
  height: max-content;
}

.favoriteIcon {
  color: red;
  margin-right: 30px;
  font-size: 40px;
}

.favoriteProducts {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.noFavoriteProducts {
  margin-inline: auto;
  font-size: 20px;
  font-weight: bold;
}
