<div class="container my-5 bg-dark p-5 rounded-3">
  <h1 class="bg-info p-5 rounded-3">Login Page</h1>

  <div class="row mt-5 justify-content-center">
    <div class="input-group mt-1">
      <span class="input-group-text">First name</span>
      <input type="text" aria-label="First name" class="form-control" />
    </div>
    <div class="input-group mt-3">
      <span class="input-group-text">last name</span>
      <input type="text" aria-label="First name" class="form-control" />
    </div>
    <button class="btn btn-outline-info w-25 mt-3">Log In</button>
  </div>
</div>
