<div class="container my-5 bg-dark p-5 rounded-3">
  <h1 class="bg-info p-5 rounded-3">Contact Us Page</h1>
  <div class="mt-5 row justify-content-evenly">
    <div class="card" style="width: 18rem">
      <img src="angular_icon_gradient.gif" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card’s
          content.
        </p>
        <a routerLink="/user/1">User 1</a>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="angular_icon_gradient.gif" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card’s
          content.
        </p>
        <a routerLink="/user/2">User 2</a>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="angular_icon_gradient.gif" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card’s
          content.
        </p>
        <a routerLink="/user/3">User 3</a>
      </div>
    </div>
  </div>
</div>
