<div class="productDashboard">
  <h1>Product Dashboard</h1>

  <h2>Add Product</h2>
  <div class="addProductContainer">
    <div class="addProductForm">
      <label for="productName">Name:</label>
      <input type="text" name="productName" id="productName" [(ngModel)]="productName" required />
      <label for="productPrice">Price:</label>
      <input
        type="number"
        name="productPrice"
        id="productPrice"
        [(ngModel)]="productPrice"
        required
      />
      <label for="productCategory">Category:</label>
      <input
        type="text"
        name="productCategory"
        id="productCategory"
        [(ngModel)]="productCategory"
        required
      />

      <button
        id="addProductBtn"
        type="submit"
        (click)="isUpdating ? updateProduct() : addProduct()"
        [class.update]="isUpdating"
      >
        {{ isUpdating ? 'Update' : 'Add' }}
      </button>
    </div>

    <div class="productsList">
      @for (product of products; track $index) {

      <div class="productItem">
        <h3>{{ product.name }}</h3>
        <p>Price: {{ product.price }}$</p>
        <p>Category: {{ product.category }}</p>

        <div class="productButtons">
          <button
            (click)="toggleFavorite(product.id)"
            [class.favorite]="isFavorite(product.id)"
            class="favoriteBtn"
          >
            Favorite
          </button>
          <button class="deleteBtn" (click)="deleteProduct(product.id)">Delete</button>
          <button
            class="updateBtn"
            (click)="chooseProductTobeUpdated(product)"
            [class.update]="isCurrentProductUpdating(product.id)"
          >
            Update
          </button>
        </div>
      </div>
      }
    </div>
  </div>
</div>
